<% include ./partials/header.ejs %>

  <h1 class="text-center"><%= title %></h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a  class="nav-link" href="/staff-dashboard">Home</a>
      </li>
    <li class="nav-item">
      <a  class="nav-link" href="/staff-camper-registration">Registration</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="/staff-camper-profiles">Camper Profiles</a>
        </li>
      <li class="nav-item">
        <a  class="nav-link active" href="/staff-payment">Payment</a>
      </li>
  </ul><br><br>

  <section>
    <div class="row">
      <div class="col-sm-8 align-left">
        <table class="table table-striped table-hover">
          <tr>
            <td>Name</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Method</td>
          </tr>

        <% for (var i = 0; i < Camper.length; i++) { %>
          <tr>
            <td><%= Camper[i].firstName %> <%= Camper[i].lastName %></td>
            <td><%= Camper[i].amount %></td>
            <td><%= Camper[i].paymentStatus %></td>
            <td><%= Camper[i].paymentMethod %></td>
          </tr>
        <% } %>

        </table>
      </div>
      <a role="button" class="btn btn-primary pull-right" href="/staff-camper-profiles">Go Back To Camper Profiles</a>
    </div>
  </section>


<a   role="button" class="btn btn-primary" href="/staff-dashboard">Go Back</a>
<a href="/staff-logout" role="button" class="btn btn-primary">Logout</a>
<% include ./partials/footer.ejs %>
